body {
	background-image: url("./assassins_creed.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	overflow-x: hidden;

}
.navbar-light {
	background-color: #ffffff;
}
.nav-link {
	color: #947542;
}
h4 {
	font-family: 'Gentium Basic', serif;
	color: black;
	font-weight: 700;
	padding-top: 160px;
	padding-left: 100px;
}
h1 {
	font-family: 'Vidaloka', serif;
	/*padding-right: */
	align-content: center;
	text-align: center;

}
.validate {
	width: 40%;
	background-size: auto; 
	border-radius: 120px;
	align-content: center;
}
.btn-dark {
	width: 50%;
	background-size: auto; 
	border-radius: 120px;
	align-content: center;
}
